<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/87484bc3bf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">




</head>

<body>
    <header class="bg-main padding-8">
        <div class="mainHeader">
            <h1 class="width-50">
                <img class="logo-mercado-liebre" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
            </h1>

            <p> Lugar para poner la barra de busqueda </p>
            <div class="text-center">
                <h2 id="compraEnCuota">
                    <p>
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </p>
                </h2>
            </div>
        </div>
        <nav class="listas">

            <ul class="listas-izquierda">
                <li> <a href=""> Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="listas-derecha">
                <li> <a href="/register"> Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li> <a href="/login"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href=""> Mis compras</a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>

        </nav>


        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <section><img class="width-100" src="/images/img-home-banner.jpg"></section>

    </header>
    <main>
        <section>
            <h1 class="titulares">Basado en tu última visita</h1>
            <section class="box-shadow">
                <div class="articulos">
                    <img class="width-100" src="\images\img-cafetera-moulinex.jpg">
                    <div class="descripcionProducto">
                        <i class="text-green fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h2 class="width-100">Cafetera Moulinex</h2>
                    </div>
                </div>
            </section>
            <section class="box-shadow">
                <div class="articulos">
                    <img class="width-100" src="/images/img-macbook-pro-2019.jpg">
                    <div class="descripcionProducto">
                        <i class="text-green fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h2 class="width-100">MacBook Pro 2019</h2>
                    </div>
                </div>
            </section>
            <section class="box-shadow">
                <div class="articulos">
                    <img class="width-100" src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="descripcionProducto">
                        <i class="text-green fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h2 class="width-100">Samsung Galaxy S10</h2>
                    </div>
                </div>
            </section>
            <section class="box-shadow">
                <div class="articulos">
                    <img class="width-100" src="/images/img-tv-samsung-smart.jpg">
                    <div class="descripcionProducto">
                        <i class="text-green fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h2 class="width-100">SmartTv Samsung 43</h2>
                    </div>
                </div>
            </section>

        </section>
        <section>
            <h1 class="titulares">Ofertas</h1>
            <div class="articulos">
                <img class="width-100" src="\images\img-cafetera-moulinex.jpg">
                <div class="descripcionProducto">
                    <i class="text-green fas fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h2 class="width-100">Cafetera Moulinex</h2>
                </div>
            </div>
            <div class="articulos">
                <img class="width-100" src="/images/img-macbook-pro-2019.jpg">
                <div class="descripcionProducto">
                    <i class="text-green fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h2 class="width-100">MacBook Pro 2019</h2>
                </div>
            </div>
            <div class="articulos">
                <img class="width-100" src="/images/img-samsung-galaxy-s10.jpg">
                <div class="descripcionProducto">
                    <i class="text-green fas fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h2 class="width-100">Samsung Galaxy S10</h2>
                </div>
            </div>
            <div class="articulos">
                <img class="width-100" src="/images/img-tv-samsung-smart.jpg">
                <div class="descripcionProducto">
                    <i class="text-green fas fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h2 class="width-100">SmartTv Samsung 43</h2>
                </div>
            </div>a
        </section>

    </main>
    <footer>
        <section class="section-footer">
            <div class="caja-footer">
                <h3 class="text-center">Pagá con tarjeta o en efectivo</h3>
                <p class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="caja-footer">
                <h3 class="text-center">Envío gratis desde $ 2.500</h3>
                <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="caja-footer">
                <h3 class="text-center">Seguridad, de principio a fin</h3>
                <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div>
                <h3>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </div>


        </section>


    </footer>
</body>

</html>